*.swp
lib3rd/graphviz.git-build-ios
lib3rd/graphviz.git-build-macos
lib3rd/fmt.git-build-ios
lib3rd/fmt.git-build-macos
lib3rd/rpclib.git-build-ios
lib3rd/rpclib.git-build-macos
lib3rd/yoga.git-build-ios
lib3rd/yoga.git-build-macos
lib3rd/libzmq.git-build-ios
lib3rd/libzmq.git-build-macos
lib3rd/rttr.git-build-ios
lib3rd/rttr.git-build-macos
.swm
.swn
.swo
lib3rd/mstch.git-build-macos
lib3rd/mstch.git-build-ios
lib3rd/libzmq.git-build-ios-simulator
lib3rd/libzmq.git-build-ios-simulator64
xclips
lib3rd/clips_core_6_40.git-build-macos
lib3rd/clips_core_6_40.git-build-ios
