//
//  Shared.macos.xcconfig
//  ThinkerDraw-macOS
//
//  Created by 熊 春雷 on 2020/5/12.
//  Copyright © 2020 pandaxcl. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DEPENDENCIES_GIT = ${PROJECT_DIR}/../Thinker.Dependencies.git

SDKROOT = iphoneos

HEADER_SEARCH_PATHS = ${DEPENDENCIES_GIT}/lib3rd/graphviz.git/lib/gvc ${DEPENDENCIES_GIT}/lib3rd/boost_1_73_0 ${DEPENDENCIES_GIT}/lib3rd/fmt.git/include ${DEPENDENCIES_GIT}/lib3rd/nlohmann-json.git/single_include ${DEPENDENCIES_GIT}/lib3rd/mstch.git/include ${DEPENDENCIES_GIT}/lib3rd/libzmq.git/include ${DEPENDENCIES_GIT}/lib3rd/cppzmq.git ${DEPENDENCIES_GIT}/lib3rd/clips_core_6_40.git ${DEPENDENCIES_GIT}/lib3rd/catch2.git/single_include

LIBRARY_SEARCH_PATHS = ${DEPENDENCIES_GIT}/lib3rd/libzmq.git-build-ios/lib

USER_HEADER_SEARCH_PATHS = ${DEPENDENCIES_GIT}/lib3rd/graphviz.git/lib/** ${PROJECT_DIR}/Shared

CLANG_CXX_LANGUAGE_STANDARD = gnu++17
CLANG_CXX_LIBRARY = libc++

OTHER_LDFLAGS = -lzmq-ios-and-macos
